@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-file-input::file-selector-button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  @apply text-white bg-quaternary rounded-lg
}
